{% extends '../base.html' %}
{% block title %}
    Aliabba Retail | Home
{% endblock %}
{% block content %}
<h1>Products in {{ category.name }}</h1>
<ul>
  {% for product in products %}
    <li>
        <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
        - ${{ product.price }}
    </li>
    <li>
        <a
        href="{% url 'add_to_cart' product.id %}"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
        >
        Add to Cart
        </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
